---
layout: datab
title: Database
---

<!-- NAVBAR IN PROGRESS
<div>

<ul id="slide-out" class="side-nav">
    <li><a class="waves-effect" href="#!">Country</a></li>
    <li class="no-padding">
        <ul id="prova" class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Country<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#!">First</a></li>
                <li><a href="#!">Second</a></li>
                <li><a href="#!">Third</a></li>
                <li><a href="#!">Fourth</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
  </ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
<a href="#" data-activates="prova" class="button-collapse"><i class="material-icons">menu</i></a>

</div>
-->

  <p>
      Your search has produced the following results:
  </p>

<div class="section">
  <h4>Results</h4>
  <div class="collection">
  {% for item in site.data.database%}
    <a
      {% if item.url contains "http://" %}
         href="{{ item.url }}"
      {% else %}
         href="{{ site.url }}/{{ item.url }}"
      {% endif %}
       
      class="collection-item black-text">
        {{ item.title}}      <br>  
        {{ item.url}}  <br>
        {{ item.field}} 
        {{ item.period}} 
        {{ item.retribution}} 
        {{ item.studies}} 
        {{ item.region}} 
        {{ item.quality}} 

deadline:
    </a>
    {% for item2 in item.subpoints %}
      <a
        {% if item2.url contains "http://" %}
           href="{{ item2.url }}"
        {% else %}
           href="{{ site.url }}/{{ item2.url }}"
        {% endif %}
        class="collection-item black-text custom1 lighten-5">
        {{ item2.text }}
        {% if item.url != "#!" %}
          <span class="badge custom1 white-text">{{ item2.button }}</span>
        {% endif %}
      </a>
    </div>
    {% endfor %}
  {% endfor %}
  </div>
