<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">
    <title>{% if page.title %}{{ site.data.generic.title }} - {{ page.title }}{% else %}{{ site.data.generic.title }} - {{ site.data.generic.long_title }}{% endif %}</title>

<!-- Standard html meta tags -->
    <meta name="description" content="{% for entry in site.data.meta %}{% if page.url == entry.id %}{% assign trovato = true %}{{ entry.description }}{% endif %}{% endfor %}{% if trovato != true %}{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ page.content | strip_html | strip_newlines | truncate:160 }}{% endif %}{% endif %}" />
    <meta name="keywords" content="{% for entry in site.data.meta %}{% if page.url == entry.id %}{% assign trovato = true %}{{ entry.keywords }}{% endif %}{% endfor %}{% if trovato != true %}aisf associazione italiana studenti di fisica iaps{% if page.tags %} {{ page.tags }}{% endif %}{% endif %}" />

<!-- og -->
    {% include opengraph.html %}

<!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet prefetch" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link href="{{ site.url }}/css/main.css" type="text/css" rel="stylesheet" media="screen"/>
    <style>
div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}
</style>
</head>
    
  <body>
      <div class="relative"> 
    {% include nav.html nav=site.data.menu %}

<!-- NAVBAR IN PROGRESS
<div>

<ul id="slide-out" class="side-nav">
    <li><a class="waves-effect" href="#!">Country</a></li>
    <li class="no-padding">
        <ul id="prova" class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Country<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#!">First</a></li>
                <li><a href="#!">Second</a></li>
                <li><a href="#!">Third</a></li>
                <li><a href="#!">Fourth</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
  </ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
<a href="#" data-activates="prova" class="button-collapse"><i class="material-icons">menu</i></a>

</div>
-->
<div class="section">
  <p>
      Your search has produced the following results:
  </p>
</div>

<div class="section">
  <h2>Results</h2>
  <div class="collection">
  {% for item in site.data.database %}
    <a
      {% if item.url contains "http://" %}
         href="{{ item.url }}"
      {% else %}
         href="{{ site.url }}/{{ item.url }}"
      {% endif %}
       
      class="collection-item black-text">
      {{ item.text }}
      {% if item.url != "#!" %}
        <span class="badge custom1 white-text">{{ item.button }}</span>
      {% endif %}
    </a>
    {% for item2 in item.subpoints %}
      <a
        {% if item2.url contains "http://" %}
           href="{{ item2.url }}"
        {% else %}
           href="{{ site.url }}/{{ item2.url }}"
        {% endif %}
        class="collection-item black-text custom1 lighten-5">
        {{ item2.text }}
        {% if item.url != "#!" %}
          <span class="badge custom1 white-text">{{ item2.button }}</span>
        {% endif %}
      </a>
    </div>
    {% endfor %}
  {% endfor %}
  </div>
          
     {% include footer.html %}
      </div>
  </body>
  {% include scripts.html %}
</html>
